* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(1, 1, 99);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1title {
  padding-bottom: 75px;
}

.gamebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: px;
  border: 2px solid white;
  border-radius: 40px
}

#buttons {
margin-left: 40px;
padding-top: 25px; ;
}

button {
  height: 70px;
  width: 150px;
  padding: 20px;
  border-radius: 25px;
  font-weight: 600;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;

}

button:hover {
  background-color: blueviolet;
  color: white
}

button:focus {
  background-color: brown;
  color: white
}
